
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav{
    background-color: rgb(48, 37, 37);
    color: rgb(203, 210, 210);
     height: 40px;
     display: flex ; 
     font-size: 15px;
     align-items: center;
     padding-left: 20px;
}

nav ul{
 list-style-type: none;
display: flex;
/* justify-content: space-between; */
}

h5{
padding-left: 85%;
opacity: 0.4;
}

.gamecontainer{
display: flex;
background-color: blue;
margin-top: 50px;
justify-content: center;

}


.container{
display: grid;
grid-template-columns: repeat(3, 10vw);
grid-template-rows: repeat(3, 10vw);
}

.container div{
border: 2px solid black;

}
